.secondDivBodyMain {
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
    justify-content: space-between;
    margin-top: 171px;
    align-items: center;
}

.bannerMasc {
    width: 40.71%;
    height: 39.7%;
    margin-bottom: 6rem;
}


.secondDivBodyMain p {
    color: #383838;
    text-align: start;
    font-size: 22px;
    line-height: 36px;
   
}

.btnSecondDiv {
    cursor:pointer;
    margin-top: 20px;
    width: 257px;
    height: 46px;
    border-radius: 3px;
    background: linear-gradient(to right, #F99500
    , #FFCD29);
    color: white;
    font-size: 18px;
    border: none;
    font-family: 'Poppins, sans-serif';
    font-weight: 700;  
}

.btnSecondDiv:hover {
    opacity: 0.8;
}

