.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #FF8A29, #CF5D00);
  color: white;
  padding: 0.125rem;
  height: 3.0625rem;
  width: 100%;
}

.logo {
  margin-left: 13.125rem;
  flex-grow: 1;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 13.125rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

.icon-wrapper svg {
  font-size: 1.1rem;
}

p {
  line-height: 1.225rem;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
